
/*image logo position top-right=================================================*/
.logo{
  width:5%;
  margin: 2%;
}
li{
  list-style: none;
}
h1{
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}/*First line: 0=right shadow, 1=bottom,0=bluring and #ccc=color (the last 2 are optional parameters).*/


h1,.grid,.panel{
  text-align: center;
}
.grid{
  margin-left: 20%;
}


/*media queries=================================================================*/
/*in order to stick footer in the bottom========================================*/
@media(min-width:769px){
.wrap{
  min-height:100vh;
}
}
